:root {
	--bg-color: #F2F2F2;
	--font-color: #333333;
	--font-accent-color: #AD1457;
}

html, body {
	background: #333;
	box-sizing: border-box;
	font-family: 'Montserrat';
	letter-spacing: 0.5px;
	max-width: 1300px;
	margin: 0 auto;
	padding: 0;
}

nav {
	margin: 2rem auto;
}

ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav-link {
	color: var(--bg-color);
	font-size: 1.2rem;
	font-weight: 600;
	letter-spacing: 2px;
	margin: 0 1rem;
	text-decoration: none;
	text-transform: uppercase;
}

.post-container {
	background: var(--bg-color);
	border-radius: 1rem;
	margin: 1rem;
	padding: 2rem;
}

.post-title {
	color: var(--font-color);
	font-size: 2rem;
	font-weight: bold;
	text-decoration: none;
}

.post-title:hover {
	color: var(--font-accent-color);
}

.post-status {
	display: block;
	font-size: 0.7rem;
	letter-spacing: 1px;
	opacity: 0.7;
	margin-top: 0.75rem;
	text-transform: uppercase;
}

.post-content {
	letter-spacing: 0.5px;
}

.post-meta-container {
	display: flex;
	justify-content: space-between;
}

.edit-button {
	align-self: center;
}

.edit-button a {
	background: var(--font-color);
	border-radius: 0.3rem;
	color: var(--bg-color);
	padding: 1rem 2rem;
	text-decoration: none;
	transition: 0.2s background ease-in;
}

.edit-button a:hover {
	background: var(--font-accent-color);
}


/* Form Styles */

form {
	max-width: 600px;
	margin: 0 auto;
}

form > div {
	display: flex;
	justify-content: flex-start;
	margin: 1rem auto;
}

label {
	color: var(--bg-color);
	margin-right: 1rem;
}

.submit-button {
	background: var(--font-accent-color);
	border: none;
	border-radius: 0.3rem;
	color: var(--bg-color);
	cursor: pointer;
	letter-spacing: 0.5px;
	padding: 1rem 2rem;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.2s background ease-in;
}

.submit-button:hover {
	background-color: var(--bg-color);
	color: var(--font-accent-color);
}

.post-title-container > label {
	padding-right: 2rem;
}

.post-status-container > label {
	padding-right: 0.8rem;
}

.post-submit-container {
	margin: 3rem 2rem 0;
	justify-content: flex-end;
}

input, textarea {
	background: var(--bg-color);
	border: none;
	border-radius: 0.2rem;
	padding: 1rem;
}

select {
	background: var(--bg-color);
	border: none;
	padding: 0.75rem;
	text-transform: uppercase;
}
